MONGODB_URI=mongodb://localhost:27017/quizier
JWT_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
ADMIN_EMAIL=admin@quizier.local
ADMIN_PASSWORD=change_me_admin_password
PORT=4000
CLIENT_URL=http://localhost:5173
